{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "react-hooks",
    "jest"
  ],
  "ignorePatterns": [
    "node_modules/"
  ],
  "globals": {
    "jest/globals": true
  },
  "rules": {},
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
